# Bundler
/.bundle/
/vendor/bundle
Gemfile.lock

# Build artifacts
/pkg/
/tmp/
*.gem
*.so
*.bundle
*.dll

# Rust build artifacts
/target/
/ext/udon/target/
Cargo.lock

# Editor files
*.swp
*.swo
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# lib/udon/*.bundle created by compilation
/lib/udon/*.bundle
/lib/udon/*.so
/lib/udon/*.dll
